<style>
a {padding:15px 35px 15px 20px;
   color: white;
   background: coral;
   text-decoration: none
}
table {background:coral;
width:100%
}
td {background:white}
img {width:50%;
}
h1{color:chocolate}
p{text-indent:20px}
button{background:coral;
color:white;
}
</style>
